@import '../../../style/variables/variables';

.containerDropdown {
    max-width: 1023px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;   
    &__dropdown {
        display: flex;
        align-items: center;
        height: 52px;
        width: 100%;
        border-radius: 10px;
        background-color: $colorRed;
        position: absolute;
        z-index: 1;
        &--title {
            font-family: $font-montserrat;
            font-size: 18px;
            padding-left: 10px;
            color: $colorWhite;
        }
        &--img {
            cursor: pointer;
            position: absolute;
            top: 35%;
            right: 5%;
            transition: 0.5s ease-in-out;
        }
    }
    &__contentView {
        &--text {
            font-family: $font-montserrat;
            font-size: 18px;
            padding: 0px 20px;
            margin: 0px;
            transition: 0.5s ease-in-out; 
        }
        &--equipments {
            font-family: $font-montserrat;
            font-size: 18px;
            list-style: none;
            padding: 0px 20px;
            margin: 0px;
            transition: 0.5s ease-in-out; 
        }
    }
}

.containerDropdown.closed {
    height: 52px;
}

.containerDropdown__contentView--text.closed {
    transform: translateY(-100%);
}
.containerDropdown__contentView--equipments.closed {
    transform: translateY(-100%);
}
.content {
    padding-top: 72px;
    height: auto;
}

.containerDropdown__dropdown--img.rotate {
    transform: rotate(180deg);
}

/******* Media queries **********/
/*  Small devices (phones, less than 676px)  */
@media (max-width: 675px) {
    .containerDropdown {
        &__dropdown {
            height: 30px;
            border-radius: 5px;
            &--title {
                font-size: 13px;
                font-weight: 700;
            }
            &--img {
                width: 16px;
                height: 9.14px;
            }
        }
        &__contentView {
            &--text {
                font-size: 13px;
            }
            &--equipments {
                font-size: 13px;
            }
        }
    }

    .containerDropdown.closed {
        height: 30px;
    }

    .containerDropdown.open .content {
        padding-top: 35px;
    }

    .containerDropdown.closed .content {
        padding-top: 35px;
    }
}