@import '../../../style/variables/variables';

.listingDetails {
    max-width: 1440px;
    margin: auto;
    padding-bottom: 55px;
}

.titleContainer {
    margin: 0px 0px 0px 100px;
    &__title {
        max-width: 1240px;
        width: 50%;      
        font-family: $font-montserrat;
        font-weight: 500;
        color: $colorRed;
        margin: 30px 0px 0px 0px;
    }
    &__location {
        max-width: 1240px;
        width: 50%;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 18px;
        margin: 10px 0px 18px 0px;
    }
    &__keywords {
        max-width: 1240px;
        width: 50%;
    }
}

.containerDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6%;
    margin: 0px 100px;
    
}

/******* Media queries **********/
/*  Small devices (phones, less than 1024px)  */
@media (max-width: 1023px) {
    .containerDescription {
        flex-direction: column;
        gap: 18px;
        margin: 0px 100px;
    }
}

/*  Small devices (phones, less than 676px)  */
@media (max-width: 675px) {
    .listingDetails {
        min-width: 288px;
        padding: 0px 16px 16px 16px;
    }
    .titleContainer {
        margin: 15px 0px 0px 0px;
        &__title {
            width: 100%;
            font-size: 18px;
            margin: 15px 0px 0px 0px;
        }
        &__location {
            width: 100%;
            font-size: 14px;
        }
        &__keywords {
            width: 100%;
        }
    }

    .containerDescription {
        flex-direction: column;
        margin: 0px;
    }
}