@import '../../../style/variables/variables';

.keywords-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 18px;
    &__keyword {
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: $colorRed;
        width: 115px;
        height: 25px;
        &--text {
            font-size: 14px;
            font-weight: 700;
            font-family: $font-montserrat;
            color: $colorWhite;
            margin: 0px;
        }
    }    
}

/******* Media queries **********/
/*  Small devices (phones, less than 676px)  */
@media (max-width: 675px) {
    .keywords-container {
        
        &__keyword {
            width: 84px;
            height: 18px;
            &--text {
                font-size: 10px;
                font-weight:500;
            }
        }    
    }
}